.soul-card {
   display: inline-block;
   flex-direction: row;
   margin: 6px;
   margin-top: 20px;
   width: 80px;
   height: 80px;
   align-items: center;
   justify-content: center;
}

.attr-img {
   width: 20px;
   height: auto;
}

.rarity-img {
   width: 60px;
   height: auto;
   display: inline;
}

.tab-story {
   padding: 3%;
   text-align: start;
}

.soul-tab {
   font-size: large;
   justify-content: center;
   font-weight: 700;
}

.coming-soon {
   padding: 50px;
   font-size: larger;
}

.soul-info-label {
   font-weight: 700;

}

.voice-content {
   padding-top: 20px;
}

.back-button {
   display: flex;
   position: absolute;
   justify-content: space-between;
}

.table-row {
   padding-top: 10px;
   padding-bottom: 10px;
}

.arti-descr {
   border-width: 1px;
   border-color: black;
}

.arti-label {
   display: flex;
   flex-direction: column;
   justify-content: center;
   font-weight: 700;
}

.row-one-label {
   margin-top: 10px;
}

.soul-image {
   width: 80px;
}

.rare-5 {
   border: 5px solid #ef0e14;
   border-radius: 6px;

}

.rare-4 {
   border: 5px solid #f99400;
   border-radius: 6px;
}

.rare-3 {
   border: 5px solid #cd39c8;
   border-radius: 6px;
}

.rare-2 {
   border: 5px solid #5571f0;
   border-radius: 6px;
}

.rare-1 {
   border: 5px solid #d9ddd7;
   border-radius: 6px;
}

.atk {
   background-color: rgb(209, 255, 255);
}

.hp {
   background-color: rgb(255, 218, 218)
}

.def {
   background-color: rgb(203, 226, 255)
}

.crate {
   background-color: rgb(255, 255, 213)
}

.cdmg {
   background-color: rgb(230, 212, 255);
}

.spd {
   background-color: rgb(198, 255, 168);
}

.soul-profile button {
   width: 80px;
}