.soul-card {
   display: inline-block;
   flex-direction: row;
   margin: 10px;
   width: 80px;
   height: 80px;
   align-items: center;
   justify-content: center;
}

.attr-img {
   width: 30px;
   height: auto;
}

.tab-story {
   padding: 3%;
   text-align: start;
}

.soul-tab {
   font-size: large;
   justify-content: center;
   font-weight: 700;
}

.coming-soon {
   padding: 50px;
   font-size: larger;
}

.soul-info-label {
   font-weight: 700;
   text-align: start;
}

.voice-content {
   padding-top: 20px;
}

.back-button {

   text-align: start;
}