.landing-row {
   flex-direction: row;
   margin-bottom: 20px;
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
}

.heading-container {
   display: flex;
   justify-content: flex-end;
   align-items: center;
   padding-top: 2px;
   padding-bottom: 2px;
   top: 0;
   z-index: 10;
   background-color: pink;
   border-radius: 10px;
}

.navbar {
   font-size: x-large;
   padding: 0;
}

.navbar-logo {
   height: 60px;
   width: auto;
}

.landing-tabs {
   display: flex;
   justify-content: center;
}

.navbar-container {
   background: rgba(255, 255, 255, 0.2);
   border-radius: 16px;
   box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
   backdrop-filter: blur(5px);
   -webkit-backdrop-filter: blur(5px);
   border: 1px solid rgba(255, 255, 255, 0.3);
}

.navbar-toggler-icon {
   background-color: pink;
}

.rarity-logo {
   width: 60px;
   height: auto;
}

.select-level {
   width: 60px;
   margin-right: 10px;
}

.hide-header {
   background-color: pink;
   border-color: pink;
}

.hide-header:hover {
   background-color: rgb(255, 146, 164);
   border-color: rgb(255, 146, 164)
}

.header-label {
   margin: 0;
   margin-right: 5px;
}

.show-button {
   background-color: pink;
   border-color: pink;
   position: absolute;
   z-index: 10;
   left: 2%;

}

.resource-card {
   padding: 12px;
}